<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>

<body>
    <header>
        <app-header-landing></app-header-landing>
    </header>

    <div class="secciones">
        <section class="descripcion-acerca">
            <h1>Bienvenido a Nuestra Biblioteca DigitalTechBooks</h1>
            <div class="container-descripcion-acerca">
                <p>En Nuestra Biblioteca virtual, hemos transformado la forma en que interactúas con los recursos
                    bibliotecarios. Nuestro objetivo es brindarte un acceso más sencillo y efectivo a una amplia gama de
                    conocimientos y entretenimiento, todo en un solo lugar.</p>
                <img src="../../assets/images/acerca-landing/acerca.png" alt="">
            </div>
        </section>
        <section class="vision-mision">
            <div class="container-mision-vision">
                <p>Nuestra misión es llevar a cabo una Gestión Integral de Colecciones para proporcionarte un acceso
                    eficiente y efectivo a una amplia gama de recursos, incluyendo libros, revistas, multimedia y
                    recursos digitales. Trabajamos incansablemente para organizar y mantener nuestra colección de manera
                    que siempre encuentres lo que buscas y que nuestros recursos estén disponibles cuando los necesitas.
                </p>
                <div class="image-container">
                    <img src="../../assets/images/acerca-landing/mision.png" alt="">
                    <div class="text-overlay">
                        <p>Misión</p>
                    </div>
                </div>
            </div>
            <div class="container-mision-vision">
                <div class="image-container">
                    <img src="../../assets/images/acerca-landing/vision.png" alt="">
                    <div class="text-overlay">
                        <p>Vision</p>
                    </div>
                </div>
                <p>Nos esforzamos por ser líderes en la Automatización para Tu Comodidad, simplificando tus experiencias
                    en la biblioteca. Hemos automatizado procesos como el préstamo y la devolución, eliminando las
                    largas filas y permitiéndote disfrutar más tiempo de la lectura y la exploración de nuestra
                    colección. Creemos que la biblioteca debe estar al alcance de todos, las 24 horas del día, los 7
                    días de la semana.</p>
            </div>
        </section>
        <section class="detalles">
            <div class="container-detalles">
                <img src="../../assets/images/acerca-landing/unete.png" alt="">
                <div class="container-colum">
                    <h4>Únete a Nuestra Comunidad</h4>
                    <p>Nuestra biblioteca no es solo un lugar para encontrar libros; es un espacio donde la comunidad se reúne, comparte conocimientos y celebra la pasión por la lectura. Únete a nosotros y descubre todo lo que tenemos para ofrecerte.</p>
                </div>
            </div>
            <div class="container-detalles">
                <div class="container-column">
                    <h4>¡Explora, Aprende, Disfruta!</h4>
                    <p>La biblioteca es una fuente infinita de conocimiento y entretenimiento. En Nuestra Biblioteca Moderna, te invitamos a explorar, aprender y disfrutar de todo lo que tenemos para ofrecer. ¡Bienvenido a un mundo de posibilidades!</p>
                </div>

                <img src="../../assets/images/acerca-landing/explora.png" alt="">
            </div>
        </section>
        <section class="formulario">
            <h1>Sugerencias y Comentarios</h1>
            <form action="">
                <label for="">Nombre:</label>
                <input type="text">
                <label for="">Apellido paterno:</label>
                <input type="text">
                <label for="">Apellido materno:</label>
                <input type="text">
                <label for="">Correo electronico:</label>
                <input type="text">
                <label for="">Ciudad:</label>
                <input type="text">
                <label for="">Tipo de consulta:</label>
                <input type="text">
                <div class="text-detalles">
                    <label for="">Asunto:</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </form>
        </section>
    </div>
    <footer>
        <app-footer-landing></app-footer-landing>
    </footer>
</body>

</html>