<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>
<body>
    <header>
        <app-header-dashboard></app-header-dashboard>
    </header>
    <aside>
        <app-menu-administrador></app-menu-administrador>
    </aside>

<div class="table-info">

    <div class="acciones">
        <h5>Lista de sugerencias y quejas</h5>
        <div class="space">
            <button (click)="reloadTable()">
              <i class="fas fa-sync-alt"></i>
            </button>
        </div>
    </div>

<table border="1">
    <thead>
      <tr>
        <th>No. Referencia</th>
        <th>Tipo de comentario</th>
        <th>Usuario</th>
        <th>Asunto</th>
        <th>Fecha de comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of listas">
        <td>{{ lista.referencia }}</td>
        <td>{{ lista.tipo }}</td>
        <td>        
            <div style="display: flex; align-items: center;">
                <img [src]="lista.usuarioImage" alt="{{ lista.usuario }}'s image" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                <span>{{ lista.usuario }}</span>
          </div></td>
        <td>{{ lista.asunto }}</td>
        <td>{{ lista.comentarioDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
  
</body>
</html>