<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalTechBooks</title>
</head>

<body>
    <div class="container">
        <div class="login-container">
            <h1>{{title}}</h1>
            <form (submit)="login()">
                <div class="input-group">
                    <input for="email" type="email" id="email" placeholder="Correo Electronico" [(ngModel)]="email" name="email" required>
                    <input for="password" type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
                    <a href="">Olvidaste tu contraseña?</a>
                </div>
                <div class="group-btn">
                    <button type="submit">Iniciar sesion</button>
                    <span>Iniciar sesion con otros</span>
                </div>
                <div class="social-login">
                    <a href="URL_DE_INICIO_DE_SESION_DE_GOOGLE" class="social-button google">
                      <img src="../../assets/images/login/google.png" alt="Iniciar sesión con Google">
                    </a>
                    <a href="URL_DE_INICIO_DE_SESION_DE_FACEBOOK" class="social-button facebook">
                      <img src="../../assets/images/login/facebook.png" alt="Iniciar sesión con Facebook">
                    </a>
                  </div>
            </form>
        </div>
    
        <div class="registro-container">
            <h2>¡Te damos la bienvenida!</h2>
            <span>Regístrese con sus datos personales para utilizar todas las funciones del sitio.</span>
            <button> <a routerLink="/registro">Registrarse</a></button>
        </div>
    </div>
</body>

</html>