<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>DigitalTechBooks</title>
</head>
<body>
    <aside class="main-sidebar">

        <div class="sidebar">
            <nav class="mt-2">
                <div class="user-link" >
                    <div class="img-user">
                        <img src="../../assets/images/menu/usuario.png" alt="">
                    </div>
                    <div class="info-user">
                        <h6>Obeb hipolito</h6>
                        <a routerLink="/editar-cuenta">Editar cuenta</a>
                    </div>
                </div>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a routerLink="/dashboard-administrador" class="nav-link">
                            <img src="../../assets/images/menu/portapapeles.png" alt="">
                            <p class="hidden-text">
                                Resumen
                            </p>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a routerLink="/catalogo-administrador" class="nav-link">
                            <img src="../../assets/images/menu/libro.png" alt="">
                            <p class="hidden-text">
                                Catalogo
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/reserva-administrador" class="nav-link">
                            <img style="width: 50px; height: auto;" src="../../assets/images/menu/pagar.png" alt="">
                            <p class="hidden-text">
                                Reserva
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/compras-administrador" class="nav-link">
                            <img style="width: 50px; height: auto;" src="../../assets/images/menu/vender.png" alt="">
                            <p class="hidden-text">
                                Compras
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/servicios-administrador" class="nav-link">
                            <img src="../../assets/images/menu/apoyo.png" alt="">
                            <p class="hidden-text">
                                Sugerencias
                            </p>
                        </a>
                    </li>

                    <li class="nav-item cerrar-sesion">
                            <a routerLink="/iniciar-sesion" class="nav-link">
                                <img style="width: 40px; height: auto;" src="../../assets/images/menu/cerrar-sesion.png" alt="">
                                <p class="hidden-text">
                                    Cerrar sesion
                                </p>
                            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</body>
</html>